* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.logo {
  width: 150px;
}
.bars {
  display: flex;
  align-items: center;
  gap: 20px;
}
i {
  font-size: 25px;
}
